name: blog-post-workflow
on:
  schedule:
    - cron: '30 23 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: blog-update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: pull-posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://www.digitalimagingtech.co.uk/news?format=rss"
